<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Home.css" asp-append-version="true" />
    <title>Notícias do Mar</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Notícias do Mar</h1>
        </div>
        <div class="news-item">
            <div class="news-content">
                <h2>Estudo revela aumento do nível do mar</h2>
                <p>Pesquisadores alertam que o nível do mar está subindo mais rápido do que o previsto, ameaçando comunidades costeiras em todo o mundo.</p>
            </div>
            <p class="author">Autor: Guilherme Carneiro</p>
        </div>
        <div class="news-item">
            <div class="news-content">
                <h2>Recifes de corais em perigo</h2>
                <p>Os recifes de corais estão enfrentando sérios riscos devido ao aquecimento global e à acidificação dos oceanos, afetando a biodiversidade marinha.</p>
            </div>
            <p class="author">Autor: Matheus Abes</p>
        </div>
        <div class="news-item">
            <div class="news-content">
                <h2>Conservação de tartarugas marinhas</h2>
                <p>Iniciativas de conservação estão ajudando a proteger tartarugas marinhas em várias regiões do mundo, mas desafios persistem devido à poluição e pesca ilegal.</p>
            </div>
            <p class="author">Autor: Gustavo Godoi</p>
        </div>
    </div>
</body>
</html>
