body {
    font-family: 'Arial', sans-serif;
    background-color: #e0f7fa;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.header {
    text-align: center;
    padding: 20px 0;
    margin-bottom: 30px;
    grid-column: 1 / -1;
}

    .header h1 {
        font-size: 2.5em;
        margin: 0;
        color: #00796b;
    }

.news-item {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 400px;
    position: relative; /* Adicionando position: relative; */
}

    .news-item:hover {
        transform: scale(1.05);
    }

    .news-item img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 10px;
        margin-bottom: 15px;
    }

.news-content {
    text-align: center;
}

    .news-content h2 {
        margin-top: 0;
        color: #00796b;
        font-size: 1.5em;
    }

    .news-content p {
        font-size: 1em;
        line-height: 1.6;
        margin: 0;
    }

.author {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-style: italic;
    color: #666;
}
