@model OceanNex.Models.FeedBackPredicao

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>FeedBackPredicao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="StatusFeedBackPredicao" class="control-label"></label>
                <select asp-for="StatusFeedBackPredicao" class="form-control">
                    <option value="Positivo">Positivo</option>
                    <option value="Negativo">Negativo</option>
                </select>
                <span asp-validation-for="StatusFeedBackPredicao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescricaoFeedBackPredicao" class="control-label"></label>
                <input asp-for="DescricaoFeedBackPredicao" class="form-control" />
                <span asp-validation-for="DescricaoFeedBackPredicao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PredicaoId" class="control-label"></label>
                <select asp-for="PredicaoId" class ="form-control" asp-items="ViewBag.PredicaoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ContaId" class="control-label"></label>
                <select asp-for="ContaId" class ="form-control" asp-items="ViewBag.ContaId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
